@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #0F0F0B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    background-color: rgb(27, 27, 27);
    font: bold 2rem 'Poppins', sans-serif;
}

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.titulo {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-size: 3rem;
    color: #000000;
}

.todolist {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.todoitem{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px;
    background-color: white;
}
.todoitem > div {
    width: 80%;
}
.todoitem:hover {
    cursor: pointer;
    transition: all .5s ease;
}


.todoitem > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todoitem > input[type='button'],
.todoitem > input[type='checkbox'] {
    width: 35px;
    height: 35px;
    font: inherit;
    
}


.todoitem > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.novoitem{
    display: flex;
    background-color: #ffffff;;
    width: 100%;
    height: 70px;
    padding: 10px 30px;
    box-shadow: 1px 1px 5px;
    margin: 10px;
    font: inherit;
    box-shadow: 1px 1px 5px var(--secondary-color);
}

.novoitem > input{
    background-color: #ffffff;
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.novoitem > input::placeholder {
    font-style: italic;
    font-weight: normal;
    color: rgb(0, 0, 0);
}


@media screen and (max-width: 700px) {
    .titulo {
        font-size: 20px;
        width: 90%;
        height: 80%;
    }

    .novoitem {
        width: 300px;
        height: 50px;
    }

    .novoitem > input::placeholder {
        font-size: 15px;
    }

    .todolist {
        width: 250px;
        height: 50px;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .todo {
        width: fit-content;
    }
}
