@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* { /*Sempre colocar isso*/
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(235, 232, 232);
}

.container {
    display: flex; /*Tudo isso para colocar no meio em coluna*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

.teste1 {
    display: flex;
    gap: 10px; 
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 1px 220px;    
    margin: 10px; /*Espaço entre os testes*/
    border: rgb(0, 0, 0); /*Esse aqui é pra meter a borda da tarefa*/
    border-style:solid ;
    border-width: 1px;
}

.tarefas > input[type='checkbox']:checked + div { /*Simplesmente isso significa que depois que a checkbox é confirmada a divisão some*/
    display: none;
}

.tarefas {
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}

.tarefa {
    margin: 10px;
    width: 500px;
    height: 50px;
}

.check1 {
    position: fixed;
    left: 46vh;
    width: 500px;
    height: 30px;
    font-family: 'Dongle', sans-serif;
}

.x1 {
    position: fixed;
    left: 130vh;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: 0;

}